@import "../../../strings/colors";

.PopupMenu {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 100px);
  margin-top: 100px;
  background: $accent1;
  margin-left: -100vw;
  transition: margin-left .3s ease-in-out;
  z-index: 1000;
}

.PopupMenu.open {
  margin-left: 0vw;
}