@import "../../strings/colors";
.PostsSlider{
  width: 100vw;
  height: 310px;
  overflow: visible;

  .PostWrap{
    width: 400vw;
    height: inherit;
    margin-left: 0vw;
    transition: margin-left .5s ease-in-out;
    overflow: visible;
  }

  .PostWrap.first{
    margin-left: 0vw;
  }

  .PostWrap.second{
    margin-left: -100vw;
  }

  .PostWrap.third{
    margin-left: -200vw;
  }

  .PostWrap.fourth{
    margin-left: -300vw;
  }

  .Dots{
    position: relative;
    margin: 10px auto;
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: space-between;

    .Dot{
      width: 15px;
      height: 10px;
      background: $accent2;
      border-radius: 4px;
    }

    .Dot.open{
      background: $accent2light;
    }
  }
}