@import "../../strings/colors";
.Header{
  position: fixed;
  width: 100vw;
  height: 100px;
  background: $accent1;
  //box-shadow: 0 0 10px $text-color;
  z-index: 1000;

  img{
    position: absolute;
    height: 40px;
    float: right;
    margin: 30px 30px;
    right: 0px;
  }

  .Title{
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: $background;
    font-size: 25px;
    font-weight: 600;
  }
}